.vertical-tab__tabs {
  display: none;
  max-height: 48rem;
  overflow-x: hidden;
  overflow-y: auto;
  width: 8rem;

  @include mq($mq-landscape) {
    display: block;
  }

  @include mq($mq-desktop) {
    width: 11rem;
  }
}

.vertical-tab__label {
  @include flex-container($spacing: flex-end);
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  cursor: pointer;
  height: 4rem;
  padding: .5em;
  text-align: right;
  transition: background-color 0.2s ease-in;
  width: 100%;
  &:hover {
    background-color: $color-white;
  }

  @include mq($mq-desktop) {
    @include font-size(20px);
    padding: 1em;
  }

  user-select: none;
}

.vertical-tab__content {
  background-color: $color-white;
  border-radius: $base-radius;
  padding: 0;
  width: 100%;

  @include mq($mq-landscape) {
    border-radius: 0 $base-radius $base-radius 0;
    height: 48rem;
    margin: 0;
    max-width: 32rem;
    padding: $base-spacing-unit;
  }

  @include mq($mq-desktop) {
    max-width: 48rem;
  }
}

.vertical-tab__content__project {

  @media only screen and (max-width: 699px) {
    overflow: hidden;
    margin: 0;
    padding: 0 $base-spacing-unit;
    max-height: 0;
    transition: all .5s ease-out;
  }

  @include mq($mq-landscape) {
    display: none;

  }
}

@for $i from 1 through 6 {
  .vertical-tab__radio:checked:nth-of-type(#{$i}) ~ .vertical-tab__tabs > .vertical-tab__label:nth-of-type(#{$i}) {
    background-color: $color-white;
    color: $color-blue;
  }

  .vertical-tab__radio:checked:nth-of-type(#{$i}) ~ .vertical-tab__content > .vertical-tab__content__project:nth-of-type(#{$i}) {

    @media only screen and (max-width: 699px) {
      margin: $base-spacing-unit 0;
      padding: $base-spacing-unit;
      max-height: 40rem;
    }

    @include mq($mq-landscape) {
      @include flex-container(column);
    }
  }
}