.vertical-tab__tabs {
  display: none;
  max-height: 48rem;
  overflow-x: hidden;
  overflow-y: auto;
  width: 8rem;

  @include mq($mq-landscape) {
    display: block;
  }

  @include mq($mq-desktop) {
    width: 11rem;
  }
}

.vertical-tab__label {
  @include flex-container($spacing: flex-end);
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  cursor: pointer;
  height: 4rem;
  padding: .5em;
  text-align: right;
  transition: background-color 0.2s ease-in;
  width: 100%;
  &:hover {
    background-color: $color-white;
  }

  @include mq($mq-desktop) {
    @include font-size(20px);
    padding: 1em;
  }

  user-select: none;
}

.vertical-tab__content {
  background-color: $color-white;
  border-radius: $base-radius;
  overflow: hidden;
  padding: 0;
  width: 100%;

  @include mq($mq-landscape) {
    border-radius: 0 $base-radius $base-radius 0;
    height: 48rem;
    margin: 0;
    max-width: 32rem;
    padding: $base-spacing-unit;
  }

  @include mq($mq-desktop) {
    max-width: 48rem;
  }
}

.vertical-tab__content__project {
  position: relative;
  @media only screen and (max-width: 699px) {
    overflow: hidden;
    margin: 0;
    padding: 0 $base-spacing-unit;
    max-height: 0;
    transition: all .5s ease-out;
  }

  @include mq($mq-landscape) {
    display: none;
  }
}

.vertical-tab__contents {
  height: 100%;
  opacity: 1;
  visibility: visible;
  width: 100%;

  @include mq($mq-landscape) {
    transition: opacity 0.5s ease 0.4s;
  }
}

.c-vertical-tab__spinner {
  position: absolute;
  left: 0;
  top: 50%;
  opacity: 0;
  text-align: center;
  visibility: hidden;
  width: 100%;
  transform: translateY(-50%);

  @include mq($mq-landscape) {
    transition: opacity 0.3s, visibility 0s linear 0.4s;
  }
}

@for $i from 1 through 8 {
  .vertical-tab__radio:checked:nth-of-type(#{$i}) ~ .vertical-tab__tabs > .vertical-tab__label:nth-of-type(#{$i}) {
    background-color: $color-white;
    color: $color-blue;
  }

  .vertical-tab__radio:checked:nth-of-type(#{$i}) ~ .vertical-tab__content > .vertical-tab__content__project:nth-of-type(#{$i}) {
    @media only screen and (max-width: 699px) {
      margin: $base-spacing-unit 0;
      padding: $base-spacing-unit;
      max-height: 40rem;

      &.vertical-tab__content__project--empty {
        max-height: 6rem;
        height: 6rem;
      }
    }

    @include mq($mq-landscape) {
      display: block;
      height: 100%;
    }

    &.vertical-tab__content__project--empty {
      & .c-vertical-tab__spinner {
        visibility: visible;
        opacity: 1;
        height: 3rem;

        @include mq($mq-landscape) {
          transition: opacity 0.3s;
        }
      }

      & .vertical-tab__contents {
        height: 0;
        visibility: hidden;
        opacity: 0;
        @include mq($mq-landscape) {
          transition: opacity 0.5s ease 0.4s,
          visibility 0s linear 1s;
        }
      }
    }
  }
}
