.c-link-shadow {
  color: $color-grey;
  transition: all .2s ease-out;

  &:hover,
  &:focus {
    text-shadow: 1px 1px 1px $color-grey;
  }

  &.link-blue {
    color: $color-blue;

    &:hover,
    &:focus {
      text-shadow: 1px 1px 1px $color-blue;
    }
  }
}