.o-icon-button {
  align-items: center;
  border: 2px solid $color-blue-light;
  border-radius: 4px;
  color: $color-blue-light;
  cursor: pointer;
  display: flex;
  height: 2.5em;
  justify-content: center;
  transition: color 0.15s ease-out, background-color 0.15s ease-out, transform .2s ease-out;
  width: 2.5em;

  &:hover {
    border-color: $color-white;
    color: $color-white;
  }

  &:active {
    background-color: $color-background;
    border-color: $color-white;
    color: $color-blue;
  }

  .fa-search {
    bottom: 1px;
    left: 1px;
    position: relative;
  }
}

.o-icon-button--circle {
  @extend .o-icon-button;
  border: none;
  border-radius: 50%;
}