.c-menu {
  background-color: rgba(50, 50, 50, 0);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: visibility 0s linear 0.6s;
  visibility: hidden;
  width: 100%;
  z-index: 100;
}

.c-menu__background {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.c-menu__box {
  @include flex-container(column, stretch);
  position: absolute;
  border-radius: 0;
  background-color: $color-blue;
  box-shadow: 0 2px 2px 0 $color-blue-dark;
  color: $color-blue-light;
  padding: $base-height-unit;
  max-height: 75vh;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  width: 100%;
  top: -325px;

  @include mq($mq-tablet) {
    border-radius: 0 $base-radius $base-radius 0;
    box-shadow: 2px 2px 2px 0 $color-blue-dark;
    left: -194px;
    width: 240px;
    max-width: 240px;
    padding: $base-height-unit $base-height-unit 0 $base-spacing-unit;
    top: 6rem;
    bottom: auto;
  }

  @at-root .c-menu-toggle:checked + .c-menu & {
    top: 4rem;

    @include mq($mq-tablet) {
      top: 6rem;
      left: 0;
    }

  }
}

.c-menu__header {
  @include flex-container($spacing: space-between);
  flex-shrink: 0;
  color: $color-white;
  text-align: center;
  white-space: nowrap;
}

.c-menu__header__name {
  border-bottom: 2px solid $color-white;
  font-size: 1.5em;
  font-weight: 600;
}

.c-menu__nav {
  overflow-x: hidden;
  overflow-y: auto;
}

.c-menu__nav__li {
  @include flex-container($spacing: space-between);
  margin-top: $base-height-unit;
  cursor: pointer;

  &:hover{
    color: #ffffff;
  }
}

.c-menu__nav__link {
  border-bottom: 2px dotted;
  display: block;
  @include font-size(20px);
  font-weight: 700;
  flex-grow: 1;
  user-select: none;
}

.c-menu__nav__mark {
  display: none;
  margin-left: $base-height-unit;

  @include mq($mq-tablet) {
    display: block;
  }
}

.c-menu__nav__sub-menu {
  max-height: 0;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow: hidden;
  border-radius: $base-radius;
  color: $color-blue;
  background-color: $color-blue-light;
  padding: 0;

  @include mq($mq-landscape) {
    display: none;
  }
}

.c-menu__nav__sub-menu-toggle:checked + ul .c-menu__nav__sub-menu {
  margin-top: $base-height-unit;
  max-height: 150px;
  padding: $base-height-unit;
}

.c-menu__nav__sub-menu-toggle-label {
  cursor: pointer;
  margin-right: $base-radius;
  user-select: none;
  &:hover {
    color: #ffffff;
  }

  :first-child {
    display: none;
  }
  :last-child {
    display: inline-block;
  }

  @at-root .c-menu__nav__sub-menu-toggle:checked + ul & {
    :first-child {
      display: inline-block;
    }

    :last-child {
      display: none;
    }
  }

  @include mq($mq-landscape) {
    display: none;
  }

}

.c-menu__nav__sub-menu__link {
  display: block;
  cursor: pointer;
  font-weight: 600;
}

.c-menu__footer {
  margin-top: auto;
  text-align: center;
}

.c-menu-toggle-label {
  cursor: pointer;
  transition: transform .2s ease-out;

  &:active {
    transform: scale(1.4);
  }

  :first-child {
    display: none;
  }
  :last-child {
    display: block;
  }

  @at-root .c-menu__header & {
    display: none;

    @include mq($mq-tablet) {
      display: block;
    }
  }

}

.c-menu-toggle {

  &:checked + .c-menu {
    transition: all 0s ease 0s;
    visibility: visible;
  }

  &:checked ~ .c-menu .c-menu-toggle-label,
  &:checked ~ header .c-menu-toggle-label {
    :first-child {
      display: block;
    }
    :last-child {
      display: none;
    }
  }
}