.graph-container {
  max-width: 28rem;
  flex: 0 50%;
}

.align-center {
  text-align: center;
}

.row-labels {
  @include flex-container(column, flex-end, flex-end);
  padding-right: 1rem;
}

.row-labels__label {
  height: 3em;
  line-height: 3em;
  text-align: right;
}

.bar-graph {
  border-bottom: 1px solid $color-grey;
  @include flex-container(row, flex-end, space-between);
  flex-wrap: nowrap;
  margin-bottom: 10em;
  padding-right: 1rem;

  @include mq($mq-landscape) {
    margin: 0 1em 10em;
  }
}

.bar-graph--red {
  color: $color-red;
}

.bar-graph--blue {
  color: $color-blue;
}

.bar-graph__col {
  background-color: $color-blue;
  border-radius: $base-radius $base-radius 0 0;
  height: 1.5em;
  margin: 0 .25em;
  min-width: 2em;
  position: relative;

  @for $index from 2 through 6 {
    &:nth-of-type(#{$index}) {
      background-color: map-get($bar-color-map, $index);
    }
  }
}

.bar-graph__col--alt-color {
  @extend .bar-graph__col;
  @for $index from 2 through 6 {
    &:nth-of-type(#{$index}) {
      background-color: map-get($bar-color-map-alt, $index);
    }
  }
}

$bar-height: (
        learning: 1.5em,
        competent: 4.5em,
        proficient: 7.5em,
        expert: 10.5em);

@each $key, $value in $bar-height {
  .bar-graph__col--#{$key} {
    @extend .bar-graph__col;
    height: $value;

    .bar-graph__col__tooltip {
      bottom: $value - 1em;
    }

    &:hover {
      .bar-graph__col__tooltip {
        bottom: $value + 1em;
        opacity: 1;
      }
    }
  }
}

.bar-graph__col__tooltip,
.bar-graph__col__label {
  position: absolute;
}

.bar-graph__col__label {
  bottom: -1.5em;
  left: 40%;
  text-align: left;
  transform: rotate(60deg);
  white-space: nowrap;
  width: 10%;
}

.bar-graph__col__tooltip {
  background-color: $color-grey-dark;
  border-radius: 4px;
  color: $color-grey-light;
  line-height: 1em;
  padding: .5em;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  left: 50%;
  text-align: center;
  transition: all .2s ease-out;
  transform: translate(-50%);
  z-index: 10;
}

.bar-graph__col__tooltip:after {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $color-grey-dark;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  top: 100%;
  transform: translate(-50%);
  width: 0;
}