.card-container {
  display: none; /* cambiar a block */
  height: 375px;
  padding: 20px;
  width: 630px;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.card-container .card {
  height: 100%;
  position: relative;
  transition: all 600ms;
  -moz-transition: all 600ms;
  -o-transition: all 600ms;
  -webkit-transition: all 600ms;
  width: 100%;
  z-index: 1;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.card-container .card .front,
.card-container .card .back {
  background: url("../assets/images/bg2.png");
  border-radius: 2px;
  box-sizing: border-box;
  height: 100%;
  line-height: 20px;
  padding: 28px;
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.card-container .card .back {
  background: url("../assets/images/bg-back.png");;
  color: #FFF;
  transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.card-container:hover .card {
  box-shadow: 10px 20px 20px rgba(50, 50, 50, .4);
}

.card-container input {
  display: none;
}

.card-container :checked + .card {
  transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.card-container:hover :checked + .card {
  box-shadow: 10px -20px 20px rgba(50, 50, 50, .4);
}

.card-container .card-flip-label {
  cursor: pointer;
  position: absolute;
  right: 28px;
  top: 28px;
}

.card-container .card-flip-label svg:hover .flip-line {
  filter: url(#blur-filter);
  -webkit-filter: url(#blur-filter);
}

.card-container .heading {
  color: #FFF;
  font-size: 48px;
  font-weight: 300;
  line-height: 48px;
  margin: 10px 0 2px;
}

.card-container .sub-heading {
  color: #CDCDCD;
  margin: 2px 0 20px;
}

.card-container .description {
  color: #CDCDCD;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 1em;
}

.card-container .contact {
  color: #9C60E6;
  display: inline
}

.card-container .encyclopedia {
  bottom: 28px;
  display: inline-block;
  left: 28px;
  position: absolute;
}

.enc-name {
  bottom: 56px;
  color: #FFF;
  font-weight: 600;
  left: 85px;
  position: absolute;
}

.card-container .on-enc {
  bottom: 36px;
  color: #CDCDCD;
  font-weight: 600;
  left: 85px;
  position: absolute;
}

.card-container .on-enc a {
  color: #9C60E6;
  text-decoration: none;
}

.card-container .social {
  bottom: 34px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 28px;

}

.card-container .social a {
  margin-left: 20px;
}

.card-container .back-name {
  background-color: rgba(250, 250, 250, .8);
  border-radius: 4px;
  bottom: 12px;
  color: #9c60e6;
  font-weight: 600;
  left: 12px;
  padding: 4px;
  position: absolute;
}