.c-card-container {
  display: block;
  height: 375px;
  padding: $base-height-unit;
  width: 300px;
  perspective: 1000px;
  transform-style: preserve-3d;

  @include mq($mq-tablet) {
    width: 430px;
  }

  @include mq($mq-landscape) {
    width: 630px;
  }
}

.c-card {
  height: 100%;
  position: relative;
  transition: all 600ms;
  width: 100%;
  transform-style: preserve-3d;
}

.c-card__front {
  backface-visibility: hidden;
  background: url("../assets/images/bg2.png") center;
  border-radius: $base-radius;
  color: $color-grey-light;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $base-spacing-unit;
  position: absolute;
  transition: all 600ms;
  width: 100%;

  &:hover {
    box-shadow: 10px 20px 20px $color-alpha;
  }

  @include mq($mq-landscape) {
    padding: 1.5 * $base-spacing-unit;
  }
}

.c-card__back {
  @extend .c-card__front;
  background: url("../assets/images/bg-back.png") center;
  transform: rotateX(180deg);
}

.c-card__flip-label {
  cursor: pointer;
  position: absolute;
  right: $base-height-unit;
  top: $base-spacing-unit;

  &:hover .flip-line {
    filter: url(#blur-filter);
    -webkit-filter: url(#blur-filter);
  }

  @include mq($mq-landscape) {
    right: $base-spacing-unit;
  }
}

.c-card__front__name {
  @include font-size(28px);
  color: $color-white;
  font-weight: 700;
  margin-bottom: 0;

  @include mq($mq-landscape) {
    @include font-size(48px);
    font-weight: 300;
    position: relative;
    right: 3px;
  }
}

.c-card__front__name__second-surname {
  display: none;

  @include mq($mq-tablet) {
    display: inline;
  }
}

.c-card__front__position {
  margin-bottom: $base-height-unit;
}

.c-card__front__intro {
  @extend .c-card__front__position;
  display: none;
  font-weight: 600;

  @include mq($mq-tablet) {
    display: block;
  }
}

.c-card__front__location {
  @extend .c-card__front__intro;
  display: block;
}

.c-card-container .c-card__front__email {
  color: $color-indigo;
}

.c-card__front__media {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  align-items: stretch;

  @include mq($mq-tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.c-card__front__media__encyclopedia {
  font-weight: 600;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  min-height: 46px;
  justify-content: center;
}

.c-card__front__media__encyclopedia-icon {
  bottom: 0;
  left: 0;
  position: absolute;
}

.c-card__front__encyclopedia-name {
  color: $color-white;
}

.c-card__front__social {
  display: flex;
}

.c-card__front__social__item {
  flex-basis: 46px;
  margin-right: $base-height-unit;

  &:nth-last-of-type(1) {
    margin-right: 0;
  }
}

.c-card__back__name {
  background-color: $color-alpha-light;
  border-radius: $base-radius;
  bottom: $base-spacing-unit;
  color: $color-indigo;
  font-weight: 600;
  left: $base-spacing-unit;
  padding: $base-radius;
  position: absolute;
}

.c-card__flip:checked + .c-card {
  transform: rotateX(180deg);
}