.header__section {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq($mq-desktop) {
    flex-basis: 33%;
  }
}

.header__name {
  color: $color-white;
  font-size: 2em;
  font-weight: 600;
  white-space: nowrap;

  :first-child {
    display: block;
  }
  :last-child {
    display: none;
  }

  @include mq($mq-desktop) {
    :first-child {
      display: none;
    }
    :last-child {
      display: block;
    }
  }
}

.header__nav {
  justify-content: space-around;
  flex-wrap: nowrap;
}

.header__nav__link {
  color: $color-blue-light;
  font-size: 1.25em;
  margin: 0 .25em;

  &:hover {
    color: #ffffff;
  }
}

.header__search {
  height: 2.5em;
  position: relative;
  width: 40px;

  @include mq($mq-desktop) {
    width: auto;
  }
}

.header__search__input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $color-blue-light;
  color: $color-white;
  height: 2.5em;
  padding: 1.25em 0 0.25em;
  width: 12em;
  display: none;

  @include mq($mq-desktop) {
    display: inline-block;
  }
}

.header__search__icon {
  border: 2px solid $color-blue-light;
  border-radius: 4px;
  bottom: 0;
  color: $color-blue-light;
  cursor: pointer;
  height: 2.5em;
  position: absolute;
  left: 0;
  transition: color 0.15s ease-out, background-color 0.15s ease-out, transform .2s ease-out;
  width: 2.5em;
  z-index: 10;

  @include mq($mq-desktop) {
    left: 12.25em;
  }
}

.header__search__icon:hover {
  border-color: $color-white;
  color: $color-white;
}

.header__search__icon > .fa-search {
  text-align: center;
  width: 100%;
  vertical-align: bottom;
}

.header__search__placeholder {
  color: $color-blue-light;
  left: 0;
  line-height: 1em;
  position: absolute;
  top: 1em;
  transition: all 0.4s ease-out;
  z-index: -1;
  display: none;

  @include mq($mq-desktop) {
    display: inline-block;
  }
}

.header__search__input:focus ~ .header__search__placeholder,
.header__search__input:valid ~ .header__search__placeholder {
  left: -.4375em;
  top: 0;
  transform: scale(0.75);
}