.section__title {
  color: $color-blue;
  font-weight: 600;
  text-align: center;
}

.section__img {
  padding: 0 $base-spacing-unit;
  margin-bottom: $base-spacing-unit;
}

.section__paragraph {
  max-width: 44rem;
  padding: 0 .5*$base-spacing-unit;
  text-align: justify;

  @include mq($mq-desktop) {
    @include font-size(20px);
  }
}

.section__content {
  max-width: 60rem;
  padding: 0 .5*$base-spacing-unit;
  @include mq($mq-desktop) {
    padding: 0;
  }
}