.c-number-fact-container {
  border: 2px solid $color-grey-dark;
  border-radius: 0 $base-radius $base-radius $base-radius;
  overflow: hidden;
  padding: $base-spacing-unit / 3;
  width: 190px;
  max-height: 440px;
  transition: all 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.c-number-fact-container--hidden {
  max-height: 0;
  padding: 0 $base-spacing-unit / 3;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.c-number-fact__button {
  background-color: $color-grey-dark;
  border: none;
  border-radius: $base-radius $base-radius 0 0;
  color: $color-background;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
  text-align: center;
  user-select: none;

  &:hover,
  &:active {
    background-color: $color-grey;
  }
}

.c-number-fact__number {
  font-family: 'Pacifico', cursive;
  @include font-size(48px);
}

.c-number-fact__fact {
  //white-space: nowrap;
}