.c-modal {
  background: $color-alpha;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.5s, visibility 0s linear 0.6s;
  visibility: hidden;
  width: 100%;
  z-index: 100;
}

.c-modal__background {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.c-modal__box {
  background-color: $color-background;
  border-radius: 2*$base-radius;
  box-shadow: 2px 2px 2px 0 $color-alpha-light, 4px 4px 4px 0 $color-alpha;
  color: $color-blue;
  padding: 2em;
  text-align: center;
  transform: translateY(-125%);
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 300px;

  @include mq($mq-tablet) {
    width: 402px;
  }
  @include mq($mq-landscape) {
    width: 652px;
  }
  @include mq($mq-desktop) {
    width: 800px;
  }
}

.c-modal__box__title {
  font-size: 1.5em;
  @media only screen and (min-width: 700px) {
    font-size: 2em;
  }
}

.c-modal__box__button {
  border: 1px solid $color-blue;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: $base-spacing-unit;
  padding: .5em 2em;
  transition: background-color 0.2s, color 0.2s, transform 0.1s linear;

  &:hover {
    background-color: $color-blue;
    color: $color-background;
  }
}

.c-modal__box__footer {
  display: none;
  @media only screen and (max-width: 449px) {
    &:nth-of-type(1) {
      display: block;
    }
  }
  @media only screen and (min-width: 450px) and (max-width: 699px) {
    &:nth-of-type(2) {
      display: block;
    }
  }
  @media only screen and (min-width: 700px) and (max-width: 999px) {
    &:nth-of-type(3) {
      display: block;
    }
  }
  @media only screen and (min-width: 1000px) {
    &:nth-of-type(4) {
      display: block;
    }
  }
}

.c-modal-toggle {

  &:checked + .c-modal {
    opacity: 1;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    visibility: visible;

    & .c-modal__box {
      transform: translateY(40%);
    }
  }
}