header {
  @include flex-container($spacing: space-between);
  background-color: $color-blue;
  box-shadow: 0 2px 2px $color-blue-dark;
  display: flex;
  height: 4rem;
  padding: 0 $base-spacing-unit;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.5s ease-in-out;
}

section {
  padding-bottom: 4 * $base-height-unit;

  &:nth-of-type(1) {
    min-height: 100vh;
    padding-top: 6rem;
  }

  @include mq($mq-tablet) {
    padding-left: 2.5 * $base-height-unit;
  }
}

footer {
  background-color: $color-grey-dark;
  color: $color-grey-light;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  vertical-align: middle;
}