div.tabComponent {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;

  @include mq($mq-tablet) {
    width: 280px;
  }

  @include mq($mq-landscape) {
    width: 380px;
  }

  @include mq($mq-desktop) {
    width: 600px;
  }
}

div.tabComponent input {
  display: none;
}

div.tabComponent label {
  background-color: #C5D0FF;
  border-radius: 5px 5px 0 0;
  color: #5369B0;
  cursor: pointer;
  display: inline-block;
  float: left;
  @include font-size(16px);
  font-weight: 600;
  padding: 8px;
  user-select: none;
  @include mq($mq-landscape) {
    @include font-size(20px);
  }
}

div.tabComponent label:hover {
  background-color: #AABAFE;
}

div.tabComponent input:checked + label {
  background: #97A9F6;
  color: #E8ECFF;
  cursor: pointer;
}

div.tabComponent div.tab {
  background-color: #FFFFFF;
  border: 2px solid #97A9F6;
  border-radius: 0 5px 5px 5px;
  clear: left;
  display: none;
  @include font-size(16px);
  padding: 10px;
}

div.tabComponent input:nth-of-type(1):checked ~ .tab:nth-of-type(1),
div.tabComponent input:nth-of-type(2):checked ~ .tab:nth-of-type(2),
div.tabComponent input:nth-of-type(3):checked ~ .tab:nth-of-type(3),
div.tabComponent input:nth-of-type(4):checked ~ .tab:nth-of-type(4) {
  display: block;
}