@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

.accordion {
  border: 1px solid #000;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  margin: 0 auto;
  padding: 10px;
  width: 100%;

  @include mq($mq-tablet) {
    width: 255px;
  }
  @include mq($mq-landscape) {
    width: 360px;
  }
  @include mq($mq-desktop) {
    width: 600px;
  }
}

.accordion ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion li {
  margin: 0;
  padding: 0;
}

.accordion [type=radio],
.accordion [type=checkbox] {
  display: none;
}

.accordion label {
  background: #E66346;
  border: 1px solid #542437;
  color: #542437;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  -moz-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
}

.accordion ul li label:hover,
.accordion [type=radio]:checked ~ label,
.accordion [type=checkbox]:checked ~ label {
  background: #C02942;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.accordion .content {
  border: 1px solid #FFFFFF;
  overflow: hidden;
  padding: 0 12px;
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  /* Make the border match the background so it fades in nicely;*/
}

.accordion p {
  color: #000000;
  margin: 10px 0;
}

.accordion h3 {
  color: #542437;
  margin: 10px 0;
  padding: 0;
}

/* Vertical */
.vertical ul li {
  margin: 0 0 1px;
  overflow: hidden;
}

.vertical ul li label {
  padding: 8px;
}

.vertical [type=radio]:checked ~ label,
.vertical [type=checkbox]:checked ~ label {
  border-bottom: 10px;
}

.vertical ul li label:hover {
  border: 1px solid #542437;
  /*We don't want the border to disappear on hover*/
}

.vertical ul li .content {
  border-top: 0;
  height: 0;
}

.vertical [type=radio]:checked ~ label ~ .content,
.vertical [type=checkbox]:checked ~ label ~ .content {
  border: 1px solid #542437;
  height: 250px;

  @include mq($mq-tablet) {
    height: 225px;
  }
}

@media screen and (max-width: 999px) {
  .accordion label {
    background: #ffffff;
    border-color: #000000;
    color: #000000;
  }

  .accordion ul li label:hover,
  .accordion [type=radio]:checked ~ label,
  .accordion [type=checkbox]:checked ~ label {
    background: #000000;
    color: #FFFFFF;
  }

  .accordion h3 {
    color: #000000;
  }

  .vertical ul li label:hover,
  .vertical [type=radio]:checked ~ label ~ .content,
  .vertical [type=checkbox]:checked ~ label ~ .content {
    border-color: #000000;
  }
}

@media screen and (max-width: 699px) {
  .accordion label {
    background: #79E646;
    border-color: #005E00;
    color: #005E00;
  }

  .accordion ul li label:hover,
  .accordion [type=radio]:checked ~ label,
  .accordion [type=checkbox]:checked ~ label {
    background: #005E00;
    color: #FFFFFF;
  }

  .accordion h3 {
    color: #005E00;
  }

  .vertical ul li label:hover,
  .vertical [type=radio]:checked ~ label ~ .content,
  .vertical [type=checkbox]:checked ~ label ~ .content {
    border-color: #005E00;
  }
}

@media screen and (max-width: 449px) {
  .accordion label {
    background: #4686E6;
    border-color: #002E7F;
    color: #002E7F;
  }

  .accordion ul li label:hover,
  .accordion [type=radio]:checked ~ label,
  .accordion [type=checkbox]:checked ~ label {
    background: #154998;
    color: #FFFFFF;
  }

  .accordion h3 {
    color: #002E7F;
  }

  .vertical ul li label:hover,
  .vertical [type=radio]:checked ~ label ~ .content,
  .vertical [type=checkbox]:checked ~ label ~ .content {
    border-color: #002E7F;
  }
}