{{#with htmlWebpackPlugin.options.data.articles}}
  <section id="articles">
    <h1 class="section__title">{{title}}</h1>
    {{#each paragraphs}}
      <p class="section__paragraph section__paragraph--center o-center-margin">{{this}}</p>
    {{/each}}
    <div class="section_content o-center-container">
      <ul class="article-list o-center-container o-center-container--column">
        {{#each list}}
        <li class="article-list__item">
          <a class="c-link-shadow link-blue" target="_blank" href="{{href}}">{{text}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
  </section>
{{/with}}