<section id="articles">
  <h1 class="section__title">Articles</h1>
  <p class="section__paragraph o-center-margin">
    Clear and concise <a class="c-link-shadow link-blue" target="_blank"
                         href="https://github.com/escorponox/articles">articles</a>
    written as end-of-chapter tasks for the <em>Bov Academy program</em>.
  </p>
  <div class="section_content o-center-container">
    <ul class="article-list o-center-container o-center-container--column">
      <li class="article-list__item">
        <a class="c-link-shadow link-blue" target="_blank"
           href="https://github.com/escorponox/articles/blob/master/Chapter-02-Introduction-to-CSS/answer-3.md">
          CSS Borders</a>
      </li>
      <li class="article-list__item">
        <a class="c-link-shadow link-blue" target="_blank"
           href="https://github.com/escorponox/articles/blob/master/Chapter-03-Getting-Started-with-JavaScript/answer-2.md">
          Element's width</a>
      </li>
      <li class="article-list__item">
        <a class="c-link-shadow link-blue" target="_blank"
           href="https://github.com/escorponox/articles/blob/master/Chapter-03-Getting-Started-with-JavaScript/answer-3.md">
          Comparison Operators</a>
      </li>
      <li class="article-list__item">
        <a class="c-link-shadow link-blue" target="_blank"
           href="https://github.com/escorponox/articles/blob/master/Chapter-04-Introduction-to-JavaScript-Core/answer-2.md">
          CSS Sibling Selectors</a>
      </li>
      <li class="article-list__item">
        <a class="c-link-shadow link-blue" target="_blank"
           href="https://github.com/escorponox/articles/blob/master/Chapter-05-Introduction-to-the-DOM/answer-4.md">
          JavaScript DOM</a>
      </li>
      <li class="article-list__item">
        <a class="c-link-shadow link-blue" target="_blank"
           href="https://github.com/escorponox/articles/blob/master/Chapter-01-Architecture-of-the-Internet-the-Web-and-the-Browser/answer-2.md">
          Domain Name System (DNS)</a>
      </li>
      <li class="article-list__item">
        <a class="c-link-shadow link-blue" target="_blank"
           href="https://github.com/escorponox/articles/blob/master/Chapter-02-Style-Guide-Driven-Development/answer-4.md">
          Style Guides Disadvantages</a>
      </li>
      <li class="article-list__item">
        <a class="c-link-shadow link-blue" target="_blank"
           href="https://github.com/escorponox/articles/blob/master/Chapter-03-Mastering-HTML/answer-5.md">
          SVG Graphics</a>
      </li>
      <li class="article-list__item">
        <a class="c-link-shadow link-blue" target="_blank"
           href="https://github.com/escorponox/articles/blob/master/Chapter-04-Mastering-CSS/answer-3.md">
          HTML5 Numbers</a>
      </li>
    </ul>
  </div>
</section>