<section id="contact">
  <h1 class="section__title">Contact</h1>
  <p class="section__paragraph section__paragraph--center o-center-margin">Don't hesitate to contact me if you feel I could fit in your team.</p>
  <div class="c-card-container o-center-margin">
    <input id="card-flip" type="checkbox" class="c-card__flip o-display-none"/>
    <div class="c-card">
      <div class="c-card__front">
        <p class="c-card__front__name">Carlos Coves<span class="c-card__front__name__second-surname"> Prieto</span></p>
        <p class="c-card__front__position">Freelance Frontend Developer</p>
        <p class="c-card__front__intro">Passionated web developer and Software Craftmanship enthusiast.</p>
        <p class="c-card__front__location">Location: Spain, World</p>
        <p class="c-card__front__email">escorponox@gmail.com</p>
        <div class="c-card__front__media">
          <div class="c-card__front__media__encyclopedia">
            <a target="_blank" class="c-card__front__media__encyclopedia-icon" href="#">
              <img src="assets/icons/enc2.png"/>
            </a>
            <span class="c-card__front__encyclopedia-name">Carlos Coves Prieto</span>
            <span>on <a href="#" class="t-color-indigo">Encyclopedia.MD</a></span>
          </div>

          <div class="c-card__front__social">
            <a target="_blank" href="https://twitter.com/escorponox">
              <img src="assets/icons/twitter.png"/>
            </a>
            <a target="_blank" href="https://github.com/escorponox">
              <img src="assets/icons/github2.png"/>
            </a>
            <a target="_blank"
               href="https://es.linkedin.com/in/carlos-coves-prieto-a3128b49">
              <img src="assets/icons/linkedin.png"/>
            </a>
          </div>
        </div>
        <label for="card-flip" class="c-card__flip-label">
          <span class="flip-line"></span>
          <span class="flip-line"></span>
          <span class="flip-line"></span>
          <span class="flip-line"></span>
          <span class="flip-line"></span>
        </label>
      </div>
      <div class="c-card__back">
        <label for="card-flip" class="c-card__flip-label">
          <span class="flip-line"></span>
          <span class="flip-line"></span>
          <span class="flip-line"></span>
          <span class="flip-line"></span>
          <span class="flip-line"></span>
        </label>
        <span class="c-card__back__name">Carlos Coves Prieto</span>
      </div>
    </div>
  </div>
</section>